node_modules
npm-debug.log
.git
.gitignore

comms-generator
equipment-hephaestus
event-micro-dionysus
files-hermes
hub
micro-builder
monitor-theia
openapi-to-types
serve-epimetheus
state-athena
uems-comm-lib
user-hera
venues-tartarus
